@model IEnumerable<MVCWithLinq3.Models.EmpDept>

@{
    ViewBag.Title = "DisplayEmployees";
}
<h2 style="text-align:center;background-color:yellowgreen;color:orangered">Employee Details</h2>
<table border="1" align="center">
    <tr>

        <th>@Html.DisplayNameFor(E => E.Eid)</th>
        <th>@Html.DisplayNameFor(E => E.Ename)</th>
        <th>@Html.DisplayNameFor(E => E.job)</th>
        <th>@Html.DisplayNameFor(E => E.salary)</th>
        <th>@Html.DisplayNameFor(E => E.Did)</th>
        <th>@Html.DisplayNameFor(E => E.Dname)</th>
        <th>@Html.DisplayNameFor(E => E.Location)</th>
        <th>Actions</th>
    </tr>
    @foreach (var Employee in Model)
    {
<tr>
    <td>@Html.DisplayFor(E => Employee.Eid)</td>
    <td>@Html.DisplayFor(E => Employee.Ename)</td>
    <td>@Html.DisplayFor(E => Employee.job)</td>
    <td>@Html.DisplayFor(E => Employee.salary)</td>
    <td>@Html.DisplayFor(E => Employee.Did)</td>
    <td>@Html.DisplayFor(E => Employee.Dname)</td>
    <td>@Html.DisplayFor(E => Employee.Location)</td>
    <td>
        @Html.ActionLink("View", "DisplayEmployee", new { Eid = Employee.Eid })
        @Html.ActionLink("Edit", "EditEmployee", new { Eid = Employee.Eid })
        @Html.ActionLink("Delete", "DeleteEmployee", new { Eid = Employee.Eid }, new {onclicl="return confirm('Are you sure of deleting the record?')"})

    </td>
</tr>
    }
    <tr><td colspan="8" align="centre">@Html.ActionLink("Add New Employee","AddEmployee")</td></tr>


